.wm-color,
.wm-colorhover:hover,
.wm-megamenu li h4,
.wm-megalist li:hover a,
.wm-dropdown-menu > li:hover > a,
.navbar-nav > li:hover > a,
.wm-cart-box h2,
.widget_archive ul li a:before,
.wm-service-slider .slick-arrow:hover,
.wm-widget-articles ul li:hover h4 a,
.wm-shop-btn a:hover,
.wm-radio input[type="radio"]:checked + label,
.wm-testimonails a:hover,
.wm-studies-filter .wm-team-info h6,
a.wm-studies-tittle,
.wm-filterable a:hover,
.wm-filterable a:active,
.wm-filterable > .active,
.wm-404-link span,
.wm-404-link a:hover,
.wm-404-link a:focus,
.wm-404-link i,
.wm-coming-soon-bottom a,
.wm-showing-result a,
.wm-widget-articles ul li:hover h4 a,
.widget_articles ul li h4 a:hover,
.widget_recentpost .wm-recentpost h6 a:hover,
.widget_recentpost .wm-recentpost .wm-readmore-icon,
.widget_articles ul li .wm-readmore-icon,
.widget_categories ul ul > li > a,
.widget_categories > ul > li > a:hover,
.wm-pagination-blog > ul > li.active,
.wm-blog-artical-text-full .wm-blog-post-option li a,
.wm-blog-single .wm-blog-post-option li a,
.wm-detail-editore .wm-blog-info li i,
.wm-casestudies-listing .wm-casestudies-text span,
.wm-detail-editore .wm-blog-info-text li:before,
.wm-next-icon,
.wm-previous-icon,
#wm-comments ul li .text .comment-text,
#wm-comments ul li .text .replay-button > i,
.wm-client-listing-text span,
.wm-services-text .wm-readmore-icon,
.wm-company-timeline-text .wm-blog-info li i,
.wm-member-callactiontwo .wm-member-callaction > li > i,
.wm-member-grid-text span,
.widget_twitter ul li p a,
.widget_twitter ul li i,
.wm-joblisting-callaction li a i,
.wm-icon-list-style li i,
.wm-job-listing-faq .panel .panel-body ul li a:hover,
.wm-promo-box-text span,
.wm-typo-buttons .apply-now,
.wm-typo-buttons .wm-download,
.wm-typo-buttons .wm-download i,
.wm-price-plans .purchase:hover,
.wm-list-style,
.wm-button-services .wm-all-services:hover,
.wm-select-checkbox input[type="checkbox"]:checked + label span:before {
  color: #26a4de;
}
.wm-bgcolor,
.wm-bgcolorhover:hover,
.wm-cartbox-btn:hover,
.wm-banner-caption a:hover,
.wm-footer-topsec:before,
.wm-social-links li:hover a,
.wm-service-layer figcaption:before,
.slick-dots li.slick-active button,
.wm-shoptags a:hover,
a.image-icon:before,
a.wm-team-tittle:before,
.wm-social-list ul li a:hover,
.contact-form form ul li input[type="submit"],
.contact-service ul li a,
.team-discription a:hover,
.wm-login-form input[type="submit"],
.wm-sing-up-form input[type="submit"],
.wm-blog-artical-text .wm-blog-artical-text-full .wm-read-article,
.wm-pagination-blog > ul > li > a:hover,
.wm-pagination-blog > ul > li:nth-child(2) > a,
.tags a:hover,
.widget_gallery ul li a:after,
.widget_gallery a:before,
.wm-blog-auther-text h2:before,
.wm-form input[type="submit"],
.wm-client-callactiontwo .wm-callaction-contactus,
.wm-widget-testimonial-download,
.wm-services-text .wm-title-services:before,
a.wm-icon:before,
.wm-company-timeline li .wm-time span:after,
.wm-member-medium form input[type="submit"],
.wm-member-medium-text .wm-member-mediumtext h2:before,
.wm-member-faq > .panel-default > .panel-heading,
.wm-member-form input[type="submit"],
.wm-accordian-element .panel-default .panel-heading a:before,
.wm-accordian .panel-default .panel-heading a:before,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs > li > a:hover,
.wm-promo-box .learn-more,
.wm-typo-buttons .apply-now:hover,
.wm-typo-buttons .wm-download:hover,
.wm-calltwo-action,
.wm-price-plans .purchase,
.wm-price-plans span,
.widget_calendar tbody td.active,
.widget_calendar table caption,
a.wm-casestudie-hover:before {
  background-color: #26a4de;
}
.wm-bordercolor,
.wm-bordercolorhover:hover,
.slick-dots li button,
.casestudy-callaction,
.wm-blog-artical-text .wm-blog-artical-text-full .wm-read-article:hover,
.wm-pagination-blog > ul > li:nth-child(2) > a,
.wm-pagination-blog > ul > li.active,
.wm-blog-artical-text .wm-blog-artical-text-full .wm-read-article,
.wm-pagination-blog > ul > li > a:hover,
.wm-client-callactiontwo,
.wm-typo-buttons .apply-now,
.wm-typo-buttons .wm-download,
.wm-price-plans .purchase {
  border-color: #26a4de;
}
.wm-shop-btn a:hover {
  box-shadow: 0 0 0 2px #26a4de inset;
}
.wm-shoptabs .nav-tabs > li > a:before {
  border-top-color: #26a4de;
}
.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
  background-color: #26a4de;
}
.wm-radio input[type="radio"]:checked + label:before {
  box-shadow: 0 0 0 2px #26a4de inset;
}
